@model IEnumerable<Vacation.Models.VacationList>

@{
    ViewData["Title"] = "Index";
}

<h1>Add vacation</h1>
<h4>
    List of leaves of absence applications
</h4>
<p>
    <button class="buttonStyle"><a class="btnAwhite" asp-action="Create">Create New</a></button>
</p>
<div class="panel panel-default">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Employee")
                </th>
                <th>
                    @Html.DisplayName("Type of leave")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationTypes.VacationTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VacationListId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VacationListId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VacationListId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>